:root { 
--gray_50_01:#f4f8ff; 
--gray_50_02:#fafafa; 
--gray_50_03:#f8f9fa; 
--blue_700_cc:#1973e4cc; 
--gray_800_49:#3c3c4349; 
--light_green_A700:#22cb13; 
--blue_A200:#4d90ff; 
--black_900_01:#000000; 
--blue_gray_700:#424c5d; 
--blue_gray_900_01:#2e2e2e; 
--blue_gray_900:#262b35; 
--black_900_02:#090b0d; 
--blue_gray_100:#d6dae2; 
--gray_800_19:#46464619; 
--blue_700:#1976d2; 
--blue_gray_300:#9ea8ba; 
--gray_800_99:#3c3c4399; 
--blue_50:#e0ebff; 
--black_900_99:#00000099; 
--blue_gray_400_02:#808191; 
--blue_gray_400_01:#8c8d91; 
--white_A700:#ffffff; 
--blue_gray_700_01:#535353; 
--blue_gray_50:#eaecf0; 
--red_700:#d03329; 
--blue_A700:#0061ff; 
--gray_900_cc:#0d1624cc; 
--blue_gray_100_01:#ced4da; 
--blue_gray_100_02:#d9d9d9; 
--green_600:#349765; 
--blue_A700_01:#0a58ff; 
--gray_50:#f9fbff; 
--blue_A700_02:#0065ff; 
--green_400:#56c568; 
--red_100:#ffe1cc; 
--pink_A200:#fc5776; 
--black_900:#000919; 
--gray_700_11:#55555511; 
--black_900_26:#00000026; 
--gray_900_02:#11142d; 
--gray_900_03:#202020; 
--blue_gray_200:#bac1ce; 
--gray_500:#979ea5; 
--blue_gray_400:#74839d; 
--indigo_50:#e5e6eb; 
--blue_gray_600:#5f6c86; 
--orange_A700:#ff6700; 
--gray_900:#2a2a2a; 
--gray_900_01:#0d1624; 
--gray_300:#dfdfdf; 
--gray_300_01:#d2efe0; 
--green_400_cc:#4dd566cc; 
--white_A700_01:#fffffe; 
}